{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}

<footer class="mt-auto mb-0 d-flex justify-content-center px-2 text-center py-3" style="box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;" id="footer">
  <div class="container mx-3">
    <div class="row">
      <p class="fs-5 fw-bold">&copy; 2024 Doctor Clinic. All Rights Reserved</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="">Privacy Policy</a>
      </div>

      <div class="col-md-4">
        <a href="#" class="">Terms Of Service</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="">Contact Us</a>
      </div>
    </div>
  </div>
</footer>
